body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f7e9dc;
}

.balance-display {
  background-color: #ec755d;
  color: white;
  padding: 10px;
  margin: 50px 10px 10px 10px;
  border-radius: 5px;
}

.chart-section {
  background-color: #fffcf7;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.spending-title {
  color: #453c31;
}

.attribution {
  font-size: 8px;
  text-align: center;
  color: slategray;
}

.small-text {
  color: #d4cfc8;
}

a {
  color: lightseagreen;
}