body {
  background-color: #f7e9dc;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
  border-top: solid 1px #f7e9dc;
}

.balance-display {
  background-color: #ec755d;
  color: white;
  padding: 10px;
  margin: 50px 10px 10px 10px;
  border-radius: 10px;
}

.chart-section {
  background-color: #fffcf7;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.spending-title {
  color: #453c31;
  font-size: 24px;
  font-weight: 600;
}

.days-of-the-week {
  color: #d4cfc8;
  font-size: 12px;
}

.attribution {
  font-size: 8px;
  text-align: center;
  color: slategray;
}

.small-text {
  color: #d4cfc8;
}

a {
  color: lightseagreen;
}

.total {
  font-size: 28px;
  font-weight: 500;
}

.month-total {
  font-size: 32px;
  font-weight: 500;
}

.totals {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}